@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  text-transform: capitalize;
  color: hsl(209, 61%, 16%);
  font-size: 0.75rem;
}

.menu {
  padding: 5rem 0;
}
h2 {
  font-size: 2rem;
}
.title {
  text-align: center;
}
